@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;

}

body{
 background: url('../pics/bg-body.jpg');
 font-family: "Raleway", sans-serif;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
}
#container{
  max-width: 1000px;
  margin:0 auto
}
.header{
 background: url('../pics/bg-header.jpg');
 height: 300px;
 font-size: 35px;
 padding:120px 0 0 80px;
}

h1{
  color:white;
}
  